# Анализ данных по Ковид 19

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# загрузка данных
data =  pd.read_csv('covid_19_data.csv')
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
data.shape

(156292, 8)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156292 entries, 0 to 156291
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              156292 non-null  int64
 1   ObservationDate  156292 non-null  object
 2   Province/State   111979 non-null  object
 3   Country/Region   156292 non-null  object
 4   Last Update      156292 non-null  object
 5   Confirmed        156292 non-null  float64
 6   Deaths           156292 non-null  float64
 7   Recovered        156292 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 9.5+ MB

In [6]:
# проверка ключей
data.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [8]:
# удаление ненужных столбцов по ключам
# 1 способ
data=data.drop(['SNo', 'Last Update'], axis=1)

# 2 способ (без присвоения)
#data.drop(['SNo', 'Last Update'], axis=1, inplace=True)

data.head()

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020        Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020      Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020         Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020          Gansu  Mainland China        0.0     0.0        0.0

In [10]:
#проверка на дубликаты
data.duplicated(['ObservationDate','Country/Region','Province/State'])

0         False
1         False
2         False
3         False
4         False
          ...
156287    False
156288    False
156289    False
156290    False
156291    False
Length: 156292, dtype: bool

In [11]:
#проверка на дубликаты
data.duplicated(['ObservationDate','Country/Region','Province/State']).sum()

4

In [12]:
#удаление дубликатов
data=data.drop_duplicates(['ObservationDate','Country/Region','Province/State'])

In [13]:
data.duplicated(['ObservationDate','Country/Region','Province/State']).sum()

0

In [14]:
#изучение страны
data['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen',
       'Comoros', 'Tajikistan', 'Lesotho', 'Solomon Islands',
       'Marshall Islands', 'Vanuatu'], dtype=object)

In [15]:
country_array=data['Country/Region'].unique()
for country in country_array:
    print(country)

Mainland China
Hong Kong
Macau
Taiwan
US
Japan
Thailand
South Korea
Singapore
Philippines
Malaysia
Vietnam
Australia
Mexico
Brazil
Colombia
France
Nepal
Canada
Cambodia
Sri Lanka
Ivory Coast
Germany
Finland
United Arab Emirates
India
Italy
UK
Russia
Sweden
Spain
Belgium
Others
Egypt
Iran
Israel
Lebanon
Iraq
Oman
Afghanistan
Bahrain
Kuwait
Austria
Algeria
Croatia
Switzerland
Pakistan
Georgia
Greece
North Macedonia
Norway
Romania
Denmark
Estonia
Netherlands
San Marino
 Azerbaijan
Belarus
Iceland
Lithuania
New Zealand
Nigeria
North Ireland
Ireland
Luxembourg
Monaco
Qatar
Ecuador
Azerbaijan
Czech Republic
Armenia
Dominican Republic
Indonesia
Portugal
Andorra
Latvia
Morocco
Saudi Arabia
Senegal
Argentina
Chile
Jordan
Ukraine
Saint Barthelemy
Hungary
Faroe Islands
Gibraltar
Liechtenstein
Poland
Tunisia
Palestine
Bosnia and Herzegovina
Slovenia
South Africa
Bhutan
Cameroon
Costa Rica
Peru
Serbia
Slovakia
Togo
Vatican City
French Guiana
Malta
Martinique
Republic of Ireland
Bulgaria
Maldives
Bangladesh
Moldova
Paraguay
Albania
Cyprus
St. Martin
Brunei
occupied Palestinian territory
('St. Martin',)
Burkina Faso
Channel Islands
Holy See
Mongolia
Panama
Bolivia
Honduras
Congo (Kinshasa)
Jamaica
Reunion
Turkey
Cuba
Guyana
Kazakhstan
Cayman Islands
Guadeloupe
Ethiopia
Sudan
Guinea
Antigua and Barbuda
Aruba
Kenya
Uruguay
Ghana
Jersey
Namibia
Seychelles
Trinidad and Tobago
Venezuela
Curacao
Eswatini
Gabon
Guatemala
Guernsey
Mauritania
Rwanda
Saint Lucia
Saint Vincent and the Grenadines
Suriname
Kosovo
Central African Republic
Congo (Brazzaville)
Equatorial Guinea
Uzbekistan
Guam
Puerto Rico
Benin
Greenland
Liberia
Mayotte
Republic of the Congo
Somalia
Tanzania
The Bahamas
Barbados
Montenegro
The Gambia
Kyrgyzstan
Mauritius
Zambia
Djibouti
Gambia, The
Bahamas, The
Chad
El Salvador
Fiji
Nicaragua
Madagascar
Haiti
Angola
Cabo Verde
Niger
Papua New Guinea
Zimbabwe
Cape Verde
East Timor
Eritrea
Uganda
Bahamas
Dominica
Gambia
Grenada
Mozambique
Syria
Timor-Leste
Belize
Laos
Libya
Diamond Princess
Guinea-Bissau
Mali
Saint Kitts and Nevis
West Bank and Gaza
Burma
MS Zaandam
Botswana
Burundi
Sierra Leone
Malawi
South Sudan
Western Sahara
Sao Tome and Principe
Yemen
Comoros
Tajikistan
Lesotho
Solomon Islands
Marshall Islands
Vanuatu

In [16]:
country_array=data['Country/Region'].unique()
for country in np.sort(country_array):
    print(country)

 Azerbaijan
('St. Martin',)
Afghanistan
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahamas, The
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burma
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
Colombia
Comoros
Congo (Brazzaville)
Congo (Kinshasa)
Costa Rica
Croatia
Cuba
Curacao
Cyprus
Czech Republic
Denmark
Diamond Princess
Djibouti
Dominica
Dominican Republic
East Timor
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Faroe Islands
Fiji
Finland
France
French Guiana
Gabon
Gambia
Gambia, The
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guernsey
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hong Kong
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Ivory Coast
Jamaica
Japan
Jersey
Jordan
Kazakhstan
Kenya
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
MS Zaandam
Macau
Madagascar
Mainland China
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Namibia
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
North Ireland
North Macedonia
Norway
Oman
Others
Pakistan
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Republic of Ireland
Republic of the Congo
Reunion
Romania
Russia
Rwanda
Saint Barthelemy
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Korea
South Sudan
Spain
Sri Lanka
St. Martin
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
The Bahamas
The Gambia
Timor-Leste
Togo
Trinidad and Tobago
Tunisia
Turkey
UK
US
Uganda
Ukraine
United Arab Emirates
Uruguay
Uzbekistan
Vanuatu
Vatican City
Venezuela
Vietnam
West Bank and Gaza
Western Sahara
Yemen
Zambia
Zimbabwe
occupied Palestinian territory

In [17]:
#Изучаем Others
# применяем маскирование
data[data['Country/Region']=='Others']

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
933,02/07/2020,Cruise Ship,Others,61.0,0.0,0.0
1005,02/08/2020,Cruise Ship,Others,61.0,0.0,0.0
1077,02/09/2020,Diamond Princess cruise ship,Others,64.0,0.0,0.0
1143,02/10/2020,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1215,02/11/2020,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1286,02/12/2020,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1359,02/13/2020,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1433,02/14/2020,Diamond Princess cruise ship,Others,218.0,0.0,0.0
1506,02/15/2020,Diamond Princess cruise ship,Others,285.0,0.0,0.0
1578,02/16/2020,Diamond Princess cruise ship,Others,355.0,0.0,0.0
1652,02/17/2020,Diamond Princess cruise ship,Others,454.0,0.0,0.0
1725,02/18/2020,Diamond Princess cruise ship,Others,542.0,0.0,0.0
1798,02/19/2020,Diamond Princess cruise ship,Others,621.0,0.0,1.0
1873,02/20/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
1950,02/21/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2034,02/22/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2118,02/23/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2204,02/24/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2294,02/25/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2388,02/26/2020,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2489,02/27/2020,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2595,02/28/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2709,02/29/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2829,03/01/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2954,03/02/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
3095,03/03/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3246,03/04/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3406,03/05/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3579,03/06/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
3780,03/07/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4005,03/08/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4261,03/09/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4527,03/10/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4733,03/11/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
4950,03/12/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5213,03/13/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5404,03/14/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5656,03/15/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5915,03/16/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6188,03/17/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6465,03/18/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
6751,03/19/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7045,03/20/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7349,03/21/2020,Diamond Princess cruise ship,Others,712.0,8.0,325.0
7800,03/22/2020,Diamond Princess cruise ship,Others,712.0,8.0,567.0
8098,03/23/2020,Diamond Princess cruise ship,Others,712.0,8.0,567.0

In [18]:
# приводим в порядок даты
data['ObservationDate']

0         01/22/2020
1         01/22/2020
2         01/22/2020
3         01/22/2020
4         01/22/2020
             ...
156287    11/15/2020
156288    11/15/2020
156289    11/15/2020
156290    11/15/2020
156291    11/15/2020
Name: ObservationDate, Length: 156288, dtype: object

In [19]:
data['ObservationDate'][0]

'01/22/2020'

In [21]:
# Пример метода обработки конвертации даты
pd.to_datetime('01/22/2020').date()

datetime.date(2020, 1, 22)

In [22]:
pd.to_datetime('01/22/2020')

Timestamp('2020-01-22 00:00:00')